@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

header{
    width: 100%;
    height: 7em;
    background-color: #232323;
    margin-bottom: 1em;
}

.texto-barra{
    color: #f1faee;
    padding: 2em;;
}

.nav-link{
    background-color: #c81d25;
    color: #f1faee!important;
    
    
    
}

.btn-questoes{
    background-color: #343434;
}

.card{
    border: none!important;
}


p{
    margin-bottom: 0px!important;
}

.footer {
    background-color: #232323;

}

.link-git{
    color: #f1faee;
}
.link-git:hover{
    color: white;
    text-decoration: none;
}

input.form-control{
    border-radius: 0px;
}
select.form-control{
    border-radius: 0px;
}

.btn.btn-enviar{
    background-color: #c81d25;
    color: #f1faee;
    border-radius: 0px;
    margin-bottom: 2em;
}

.alert.alert-danger{
    border-radius: 0px;
}